In [3]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame()

In [9]:
records = [
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Paris'}
]
df = pd.DataFrame(records)

In [11]:
df

      Name  Age      City
0    Alice   24  New York
1      Bob   27    London
2  Charlie   22     Paris

In [9]:
path=
file= open(path,'w')
data=file.write(records = [
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Paris'}
])
print(data)

TypeError: TextIOWrapper.write() takes no keyword arguments

In [5]:
import pandas as pd

records=[ 
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Paris'}
]
df=pd.DataFrame(records)
path='ecccc.xlsx'
# df.to_excel(path,index=False)
df.to_excel(path)
print(path)

ecccc.xlsx

In [7]:
import pandas as pd

records=[ 
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Paris'}
]
df=pd.DataFrame(records)
path='eccccp.xlsx'
df.to_excel(path,index=False)
# df.to_excel(path)
print(path)

eccccp.xlsx